.char-image-long {
    height: 150px;
    width:100px;
}

.text-vertical {
    writing-mode: vertical-lr;
    text-orientation: sideways;
}

.text-vertical-pill {
    writing-mode: vertical-lr;
    text-orientation: sideways;
    background-color: darkolivegreen;
    color:white;
    width:1em;
    height:70%;
    border: 1px darkolivegreen;
    border-radius: 3px;
}

.group-border {
    border-radius: 3px;
    border: 1px solid black;
    padding:1em;
}

.name-pronoun-container {
    display:grid;
    grid-column: 1 / span 12;    
}
.name-pronoun-container:first-child{
    grid-column:1 / span 10;
}

.name-pronoun-container:last-child {
    grid-column:11 / span 1;
}

.name-input {
    grid-column:1 / span 8;
}

.pronoun-input {
    grid-column:9 / span 3;
}

.label-input {
    display:flex;
    flex-direction: row;

    label {
        flex-basis:min-content;
        font-weight:bold;
        font-size:1.1em;
        margin-right:7px;
    }

    input {
        flex-basis:max-content;
    }
}