

// .name-pronoun-container {
//     display:grid;
//     grid-column: 1 / span 12;    
// }
// .name-pronoun-container:first-child{
//     grid-column:1 / span 10;
// }

// .name-pronoun-container:last-child {
//     grid-column:11 / span 1;
// }

// .name-input {
//     grid-column:1 / span 8;
// }

// .pronoun-input {
//     grid-column:9 / span 3;
// }

// .header-grid {
//     display:grid;
//     grid-template-columns: 150px 1fr;
//     grid-template-rows: 250px;
//     // grid-column: span 12 / span 12;
//     // grid-template-columns: repeat(12, minmax(0, 1fr));
// }

// .grid-sheet-image-container {
//     grid-column-start: 1;
//     grid-column-end: 1;
//     grid-row-start: 1;
//     grid-row-end: 7;

// }

// .name-container {
//     grid-column-start:2;
//     grid-column-end:2;
//     grid-row-start:1;
//     grid-row-end:2;
// }

.window-app .window-content {
    background:rgb(245,245,245, .90);
    // backdrop-filter: blur(50px);
}

.page-container {
    max-width:700px;
    min-width:500px;
}

.numeric-input[type="number"] {
    text-align: center;
    width:50px;
}

.header-grid {
    display:grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 250px;

    .header-data-grid {
        display:grid;
        grid-template-columns: repeat(10, .1fr [col-start]) ;
        grid-template-rows: repeat(5, max-content);
        column-gap: 5px;
        row-gap: .5em;
        padding:5px;

        // Row 1
        .name-gridspan {
            grid-column: auto / span 8; 
            grid-row: auto / span 1;
        }

        .pronouns-gridspan {
            grid-column: auto / span 2; 
            grid-row: auto / span 1;
        }

        // Row 2
        .identity-gridspan {
            grid-column: auto / span 10; 
            grid-row: auto / span 1;
        }

        // Row 3
        .theme-gridspan {
            grid-column: auto / span 5; 
            grid-row: auto / span 1;
        }

        .origin-gridspan {
            grid-column: auto / span 5; 
            grid-row: auto / span 1;
        }

        // Row 4

        .fabula-gridspan {
            grid-column: auto / span 10;
            grid-row: auto / span 1;

            display:flex;
            justify-content: space-around;

            .flex-grid-content {
                margin-left:10px;
                margin-right:10px;
            }
        }

        // .exp-gridspan {
        //     grid-column: auto / span 3;
        //     grid-row: auto / span 1;
        // }

        // .level-gridspan {
        //     grid-column: auto / span 3;
        //     grid-row: auto / span 1;
        // }

        // Row 5, flex content

        .health-gridspan {
            grid-column: auto / span 10;
            grid-row: auto / span 1;

            display:flex;
            justify-content: space-around;

            .flex-grid-content {
                margin-left:10px;
                margin-right:10px;
            }
        }
    }
}